[Desktop Entry]
Name=Show Desktop
Exec=/usr/local/bin/showdesktop
Icon=/usr/share/icons/elementary/apps/48/showdesktop.svg
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=true
